body {
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-track-piece {
    background-color:lightgray;
}
::-webkit-scrollbar-thumb {
    background-color: #77777A;
}

.navbar {
    min-height: 55px;
    padding-top: 1px;
    border-bottom: 1.5px solid #77777A;
}
.navbar-brand {
    font-size: 27px;
    font-family: 'Cardo', serif;
    line-height: 7px;
}
.navbar-brand small {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 13px; padding-left: 5px;
    font-family: 'Raleway', sans-serif;
}

#sidebar-container {
    height: 100%;
    padding: 0; margin: 0;
    overflow-y: scroll;
    z-index: 999;
    background-color: #eee;
    border-right: 1px solid #77777A;
}
#search-container {
    padding: 15px 10px 5px 10px;
    border-bottom: 1.5px solid #77777A;
}
#search-bar, #search-filter-group .btn, #playlist-button, .sidebar-panel {
    border-radius: 0;
}
#search-filter-group .btn {
    background-color: #eee;
}
#search-filter-group .btn:hover {
    background-color: #d4d4d4;
}
#search-form, #search-form-group {
    padding: 0; margin: 0;
    padding-bottom: 3px;
}
#search-filter-group .btn {
    border: 0;
    padding: 7px;
}

#results-container {
    padding: 10px 10px 5px 10px;
}
.results-panel {
    margin: 5px 0px 5px 0px;
    border-radius: 0;
}
.results-panel-body {
    padding: 0; margin: 0;
}
.results-add-playlist-button {
    position: absolute;
    left: 5px; top: 5px;
    color: white;
    border-radius: 100%;
    background-color: transparent;
    border: 3px solid white;
}
.results-add-playlist-button:hover {
    background-color: #d4d4d4;
}
.results-sidebar-media {
    position: relative;
    cursor: pointer;
}
.results-sidebar-media:hover {
    border: 1px solid black;
    margin:-1px;
}
.results-media-body {
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
}
.results-media-image {
    max-width: 50%;
}
.results-media-heading, .results-media-contributor {
    width: 195px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} /* Need to look for a more elegant way to do single- and multi-line ellipsis truncating... */
.results-media-heading {
    padding-top: 5px; margin: 0;
    font-weight: 400;
}
.results-media-contributor {
    margin-top: 0; padding-top: 0;
}
.results-media-abstract-excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0; padding-bottom: 0;
}

#map-container {
    height: 100%;
    padding: 0; margin: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/new_paper.jpg);
    background-size: cover;
}

#vietnam-map-src {
    top: 50%;
    right: 0;
    height: 100%;
    position: absolute;
    transform: translateY(-50%);
}
#vietnam-map-src stroke, #vietnam-map-src text, #vietnam-map-src #rivers, #vietnam-map-src #trails {
    pointer-events: none;
}
#vietnam-map-src .highlight-layer { 
    opacity: 0; 
}

#vietnam-map-src #trails {
    opacity: 1;
}
#vietnam-map-src .highlight-layer:hover {
    opacity: 1;
    cursor: pointer;
}

#world-map {
    height: 15%; width: 20%;
    z-index: 999;
    opacity: 0.8;
    position: absolute;
    bottom: 15px; left: 15px;
    padding: 0; margin: 0;
    background-color: #DAF5EF;
    border: 1px solid black;

}
#world-map:hover {
    cursor: pointer;
    opacity: 1;
}
#world-map:hover #back-home-text {
    opacity: 1;
}

#social-media-corner {
    z-index: 999;
    position: absolute;
    bottom: 12px; right: 15px;
    text-align: center;
}
#social-media-corner a {
    color: black;
    height: 100%;
    font-size: 24px;
    margin: 2px;
    text-decoration: none;
}

.modal-lg {
    width: 90%;
}
.modal-content  {
    border: 1px solid black;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}
.modal, .modal-backdrop {
    position: absolute !important;
}
.modal-topic-title {
    padding: 0; margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px; padding-bottom: 5px;
}
.modal-keywords-items {
    padding: 0;
    list-style-type: none;
}
.modal-keywords-title {
    padding: 0; margin: 0; 
    padding-top: 16px; padding-bottom: 5px;
}
.modal-topic-keyword {
    text-decoration: none;
    cursor: pointer;
}
.modal-topic-keyword:hover, .modal-topic-keyword:active, .modal-topic-keyword:visited {
    text-decoration: none;
}
.modal-playlist-topic-title {
    font-weight: bold;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    padding-top: 0; padding-bottom: 0;
    margin-bottom: 0; margin-top: 0;
}
.modal-playlist-entry, .modal-playlist-row {
    margin: 0; padding: 0;
}
.topic-playlist-video-frame {
    margin: 0; padding: 0;
}
.modal-topic-playlist-row {
    margin: 0; padding: 0;
    padding-bottom: 10px;
}

#region-info-panel {
    z-index: 999;
    position: relative;
    top: 20px; left: 15px;
    width: 40%; height: 35%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
}
.region-detailed-name {
    font-size: 20px;
}
#region-detailed-info {
    height: 100%;
    overflow-y: scroll;
    font-size: 12px;
}
#region-detailed-map-container {
    height: 100%; 
    padding: 0; margin: 0; 
}
.region-detailed-image {
    height: 100%; width: 100%;
    background-size: cover;
    margin: 0; padding: 0;
}